@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.product-showcase-overlay {
  display: none;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}
.toggle {
  cursor: pointer;
  background: url(./images/icon-menu.svg);
  width: 16px;
  height: 15px;
  background-position: center;
  background-size: cover;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}
.toggle.active {
  position: fixed;
  width: 14px;
  height: 15px;
  background: url(./images/icon-close.svg);
}
.menu {
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  height: 100%;
  width: 250px;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.menu.active {
  transform: translateX(0);
}
.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 70px;
  padding-left: 20px;
  font-weight: bold;
}
.menu ul li {
  display: inline-block;
  position: relative;
}
.menu ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: hsl(26, 100%, 55%);
  left: 0;
  bottom: 1px;
  transition: all ease-in-out 0.25s;
}
.menu ul li:hover::before {
  width: 10%;
}
.menu li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  transition: all 0.3s ease-in-out;
}
.menu li a:hover {
  color: hsl(0, 0%, 0%, 75%);
}
.navigation {
  z-index: 3;
  background: hsl(0, 0%, 100%);
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 100%;
  padding: 0 24px;
}
.navigation .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.navigation .acc {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.cart img {
  height: 24px;
}
.cart {
  display: flex;
  cursor: pointer;
}
.cart .cart-counter {
  display: none;
  color: white;
  background: hsl(26, 100%, 55%);
  height: 13px;
  width: 19px;
  text-align: center;
  border-radius: 7px;
  transform: translateX(-9px);
  font-size: 10px;
  padding: 1px;
}
.cart .cart-counter.active{
  display: block;
}
.prof img {
  height: 35px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}
.prof img:hover {
  border: solid 2px hsl(26, 100%, 55%);
}
.floating-card.active {
  transform: translateY(0);
}
.floating-card {
  transform: translateY(-140%);
  float: right;
  display: grid;
  grid-template-rows: 64px 192px;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: hsl(0, 0%, 100%);
  height: 256px;
  max-width: 400px;
  width: 94vw;
  margin: 4px 3vw;
  border-radius: 10px;
  top: 70px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.floating-card .card-head {
  padding-top: 24px;
  padding-left: 24px;
  height: 64px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.floating-card p {
  text-align: center;
}
.floating-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.card-body .buy-items.active {
  display: flex;
}
.card-body .buy-items {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 50px;
  width: 100%;
}
.card-body img {
  height: 100%;
  width: 50px;
  object-fit: cover;
  border-radius: 3px;
}
.del img {
  cursor: pointer;
  width: 12px;
  height: 16px;
}
.check-out {
  display: none;
  cursor: pointer;
  height: 56px;
  width: 311px;
  border-radius: 10px;
  background: hsl(26, 100%, 55%);
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
}
.check-out.active{
  display: flex;
}
.check-out:hover {
  background: hsl(26, 74%, 62%);
}
.card-body .empty.active {
  display: block;
}
.card-body .empty {
  display: none;
  text-align: start;
}
.showcase-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-top: 68px; */
}
.product-showcase img {
  width: 100%;
  object-fit: cover;
}
.product .image {
  pointer-events: none;
  display: flex;
  overflow-x: hidden;
}
.image img {
  transition: transform 0.3s ease-in-out;
}
.preview {
  display: none;
}
.swipe {
  z-index: 0;
  display: flex;
  width: 94vw;
  margin: 0 3vw;
  justify-content: space-between;
  /* top: calc(50vh - 68px); */
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.swipe .left,
.swipe .right {
  cursor: pointer;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 3px 6px 0 6px;
  transition: 0.3s ease-in-out;
}

.swipe img {
  transition: 0.3s ease-in-out;
}
.product-text {
  display: flex;
  flex-direction: column;
  height: 532px;
  padding-left: 25px;
  width: 327px;
}
.product-text h3 {
  text-transform: uppercase;
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 16px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}
.product-text h1 {
  width: 300px;
  padding-bottom: 28px;
  font-size: 25px;
  font-weight: 700;
}
.product-text p {
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
  padding-bottom: 36px;
}
.product-text .price {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 31px;
}
.price span {
  font-size: 15px;
  padding: 4px;
  text-align: center;
  align-items: center;
  width: 51px;
  height: 27px;
  border-radius: 4px;
  background: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
}
.price del {
  color: hsl(219, 9%, 45%);
  font-size: 18px;
  padding-left: 89px;
}
.add-to-cart {
  width: 327px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.add-to-cart .add {
  height: 54px;
  width: 327px;
  border-radius: 11px;
  background: hsl(223, 64%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}
.add-to-cart .add img {
  cursor: pointer;
}
.add-to-cart .button {
  cursor: pointer;
  height: 54px;
  width: 327px;
  border-radius: 11px;
  background: hsl(26, 100%, 55%);
  color: hsl(223, 64%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease-in-out;
}
.add-to-cart .button img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.add-to-cart .button:hover {
  background: hsl(26, 74%, 62%);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background: hsl(25, 100%, 94%);
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: black;
}

footer a {
  text-decoration: none;
  color: hsl(25, 86%, 43%);
  transition: 0.3s ease-in-out;
}
footer a:hover {
  color: hsl(219, 9%, 45%);
}
@media (min-width: 600px) {
  .floating-card {
    right: 0;
  }
  .showcase-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .showcase-container .product-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 445px;
  }
  .swipe {
    display: none;
  }
  .product-showcase .product img {
    border-radius: 12px;
    overflow-x: hidden;
    width: 100%;
  }
  .showcase-container .product-showcase .preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 29px;
  }
  .showcase-container .preview img {
    object-fit: cover;
    height: auto;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .showcase-container .preview img:hover {
    background: hsl(25, 100%, 94%);
    opacity: 0.8;
    /* border: 3px solid hsl(26, 100%, 55%); */
  }
  .preview img.active{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.8;
  }
  .product-text {
    width: 445px;
  }
  .product-text h1 {
    font-size: 30px;
  }
  .product-text p {
    width: 100%;
  }
  .product-text .price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100px;
  }
  .price del {
    padding-left: 0;
  }
  .add-to-cart {
    flex-direction: row;
    width: 445px;
    gap: 16px;
  }
}
@media (min-width: 900px) {
  .toggle {
    display: none;
  }
  .navigation {
    position: static;
    width: 100%;
    height: 112px;
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    justify-content: space-between;
  }
  header span {
    width: calc(100vw - 60px);
    margin: 0 34px;
    height: 1px;
    background: hsl(220, 14%, 75%);
    position: absolute;
  }
  .navigation .left {
    justify-content: center;
  }
  .navigation .acc {
    justify-content: end;
  }
  .menu {
    position: static;
    transform: translateX(0);
    background: none;
    width: 356px;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 0;
    gap: 30px;
  }
  .menu ul li::before {
    transform: translateY(47px);
  }
  .menu ul li:hover::before {
    width: 100%;
  }
  .floating-card {
    top: 80px;
  }
  .showcase-container {
    flex-direction: row;
    height: max-content;
    gap: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .showcase-container .swipe {
    display: none;
  }
  .showcase-container .product-showcase {
    gap: 10px;
  }
  .showcase-container .product-showcase .product {
    width: 100%;
    height: 100%;
  }
  .product-showcase .product img {
    pointer-events: visible;
  }

  .product-showcase-overlay.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-showcase-overlay {
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
  }
  .product-showcase-overlay .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
  }
  .close-popup {
    cursor: pointer;
    padding-left: 430px; 
  }
  .product-showcase-overlay .product img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  .product-showcase-overlay .product .swipe {
    width: 475px;
    top: 40%;
    transform: translateY(-40%);
    display: flex;
  }
  .product-showcase-overlay .preview2 {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    gap: 29px;
    
  }
  .product-showcase-overlay .preview2 img {
    width: 89px;
    height: 89px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .product-showcase-overlay .preview2 img:hover {
    opacity: 0.5;
    background: hsl(25, 100%, 94%);
  }
  .product-showcase-overlay .preview2 img.active{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.8;
  }
}
